img.resize {
  max-width:20%;
  max-height:20%;
}

a:-webkit-any-link {
  color: auto;
  cursor: auto;
  text-decoration: none;
}
#headername {
  font-family: 'Roboto Mono', monospace;
  font-size: 130px;
  font-weight: bold;
}

#welcomeimage {
  margin-left: 15%;
}
#coffeeofthemonth {
  margin-left: 40%;
}
body {
  background: #54B8C4;
  margin: 0px;
}
.navbar-background {
  padding-left: 20px;
}
.submitbutton {
  margin-left: 20px;
}
.searchbox {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Navigation bar styles start */

nav {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
    font-family: 'Roboto Mono', monospace;
}
nav ul {
    list-style: none;
    padding: 0px;
}
nav ul li {
    display: block;
}
nav ul li > a {
    text-decoration:none;
}
nav ul li > a:hover {
    text-decoration:underline;
}
.navbar-background {
    background-color: #32676E;
}
.navlink {
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-left:5px;
    padding-right:5px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}
.navlink.active {
    color: black;
    background-color: white;
}
/* Navigation bar styles end */

#welcometext {
  background: white;
  margin: 10px;
  padding: 20px;
  column-count: 2;
}

fieldset {
  background: white;
  margin: 10px;
  padding: 20px;
  border: none;
  font-family: 'Roboto Mono', monospace;
}

footer {
  background: #32676E;
  font-family: 'Roboto Mono', monospace;
  padding: 30px;
  margin: 30px 0px 0px;
}
